# Android / Gradle
.gradle/
**/build/
app/build/
.cxx/
.externalNativeBuild/
captures/
 
.idea/
*.iml
*.ipr
*.iws
 
cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/CMakeScripts/
**/Testing/
**/cmake_install.cmake
**/compile_commands.json
**/*.o
**/*.obj
**/*.d

 
build_cli/
build_cli_desktop/
 
build/

 
*.log
logs/
*.tmp
*.temp

 
 
perf.data*
nsights/

*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
